:root {
  --color-green-bright: #7CFC00;
  --color-pink-dark: #ff6969;
  --color-grey-dark: #555555;
  --color-red: #E0180B;
  --color-white: #ffffff;
  --color-yellow-bright: #FFFF00;
}

@custom-media --mobile (max-width: 480px);
