.audienceForm {
  display: flex;
  flex-direction: column;
}

.audienceHeader {
  font-size: 60px;
  font-weight: 600;
  justify-content: center;
  color: var(--color-pink-dark);
}

.description {
  margin-bottom: 20px;
  line-height: 20px;
  font-size: 18px;
  font-family: 'Oswald', sans-serif;
}

.button {
  display: flex;
  justify-content: center;
  max-width: 100px;
  padding: 10px 15px;
  margin: 30px 0;
  cursor: pointer;

  background: var(--color-white);
  border: 1px solid var(--color-pink-dark);
  border-radius: 2px;
  transition: all 200ms;

  color: var(--color-pink-dark);
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

.button:hover {
  background: var(--color-pink-dark);
  color: var(--color-white);
  border-color: var(--color-pink-dark);
}

.button:disabled {
  cursor: not-allowed;
  background: #aaaaaa;
  border: none;
  color: var(--color-white);
}
