.textareaContainer {
  display: flex;
  flex-direction: column;
  padding: 5px 0;
}

.label {
  font-size: 16px;
  font-weight: 400;
  color: var(--color-grey-dark);
  padding-bottom: 5px;
}

.textarea {
  display: block;
  padding: 10px;
  height: 80px;
  width: 100%;
  color: var(--color-grey-dark);
  font-size: 16px;
  border: 1px solid var(--color-grey-dark);
  border-radius: 2px;
  transition: all 200ms;
}
