.frontPageContainer {
  display: flex;
  flex-direction: row;
  height:100vh;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}

.frontPageLink:hover {
  color: #7CFC00;
}

.frontPageLink {
  padding: 24px;
  color: #ff6969;
  font-family: monospace;
  font-size: 45px;
  font-weight: 500;
  text-decoration: none;
}
