@import '../styles/variables.css';

.frontPageContainer {
  display: flex;
  flex-direction: row;
  height:100vh;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}

.frontPageLink:hover {
  color: var(--color-green-bright);
}

.frontPageLink {
  padding: 24px;
  color: var(--color-pink-dark);
  font-family: monospace;
  font-size: 45px;
  font-weight: 500;
  text-decoration: none;
}
