.performanceInfoContainer {
  display: flex;
  flex-direction: column;
}

.performanceInfoImgContainer {
  display: flex;
  flex-direction: column;
}
.videoContainer {
  display: flex;
  justify-content: center;
}
.performanceInfoHeader{
  font-size: 60px;
  text-align: center;
  color: var(--color-green-bright);
  text-transform: uppercase;
}

.isPrevious {
  text-decoration: line-through;
}

.performanceInfoImg{
  display: flex;
  align-self: center;
  width: 600px;
  padding: 20px;
}

.performanceInfoText {
  margin: 0 auto;
  width: 500px;
  font-size: 18px;
  padding-top: 10px;
}

@media (max-width: 450px) {
  .performanceInfoHeader {
    font-size: 35px;
  }

  .performanceInfoText {
    max-width: 320px;
    justify-content: center;
  }
}
