.perviousPerformancesContainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  text-transform: uppercase;
  min-height: 1200px;
  height: 100%;
  width: 100%;
}

.performancesHeader {
  font-size: 80px;
  color: var(--color-pink-dark);
  text-align: center;
  padding-bottom: 2px;
}

.previousPerformancesTitle, .upcomingPerformanceTitle {
  position: absolute;
  font-size: 80px;
  top: 150px;
  left: 5px;
  justify-content: center;
  color: var(--color-yellow-bright);
}

.previousPerformancesTitle {
  top: 710px;
}

.performancesImageContainer, .upcomingPerformancesImageContainer {
  display: flex;
  flex-direction: row;
  flex: 1;
  min-width: 100%;
  height: 100%;
}
.performancesImageContainer {
  padding: 20px 0;
}

.previousPerformancesImageText, .upcomingPerformanceImageText {
  align-self: flex-end;
  color: var(--color-green-bright);
  font-size: 30px;
  font-weight: 400;
}

.previousPerformancesImageText {
  text-decoration: line-through;
}

.performance{
  display:flex;
  flex: 1;
  text-decoration: none;
}
.tara {
  background: url(../img/tara-front.png);
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.2);

}
.niels {
  background: url(../img/Niels.jpg);
  background-size: cover;
  background-position: center;
}
.pauli {
  background: url(../img/Pauli.jpg);
  background-size: cover;
  background-position: center;
}
.nastasiaAndStephen {
  background: url(../img/NastasiaAndStephen.jpg);
  background-size: cover;
  background-position: center;
}
.asanda {
  background: url(../img/Asanda.jpg);
  background-size: cover;
  background-position: center;
}


@media (max-width: 450px) {
  .performancesHeader{
    font-size: 40px;
  }
  .previousPerformancesTitle, .upcomingPerformanceTitle {
    font-size: 50px;
    top: 105px;
  }
  .previousPerformancesTitle {
    top: 680px;
  }
  .previousPerformancesImageText, .upcomingPerformanceImageText {
    font-size: 20px;
  }
}
