.performanceInfoContainer {
  display: flex;
  flex-direction: column;
}

.performanceInfoImgContainer {
  display: flex;
  flex-direction: column;
}

.performanceInfoHeader{
  font-size: 60px;
  text-align: center;
  color: var(--color-green-bright);
  text-transform: uppercase;
}

.isPrevious {
  text-decoration: line-through;
}

.performanceInfoImg{
  display: flex;
  align-self: center;
  width: 600px;
  padding: 20px;
}
