.perviousPerformanceInfoContainer {
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.previousPerformanceInfoHeader{
  font-size: 30px;
  text-align: center;
  color: var(--color-green-bright);
  text-transform: uppercase;
}
