.perviousPerformancesContainer {
  display: flex;
  flex-direction: column;
}

.previousPerformancesTitle {
  position: absolute;
  font-size: 100px;
  font-weight: 600;
  top: 10%;
  left: 10%;
  justify-content: center;
  color: #ff6969;
}
.performancesImageContainer {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.previousPerformancesImageText {
  align-self: flex-end;
  color: #7CFC00;
  font-size: 30px;
  font-weight: 400;
  text-decoration: line-through;
}

.performance1 {
  display:flex;
  flex: 1;
  background: url(../img/car.jpg);
  background-size: cover;
}

.performance2 {
  display:flex;
  flex: 1;
  background: url(../img/ocean.jpeg);
  background-size: cover;
}

.performance3 {
  display:flex;
  flex: 1;
  background: url(../img/mountain.jpeg);
  background-size: cover;
}
